body {
	margin: 0;
	padding: 0;
}



.button  {
	background-color: #F5F5F5;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border: 1px solid;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-color: #CCCCCC;
	color: #565656;
	cursor: pointer;
	font: normal normal normal 15px/normal Helvetica, Arial, sans-serif;
	height: 36px;
	line-height: 36px;
	margin: 0px;
	overflow: visible;
	padding: 0px 14px 0px 12px;
	width: auto;	
}

div .add_post_form {
	padding: 0;
}

div .cancel_button {
	float: right;
}

div .title_input {
	font-size: 24px;
	width: 100%;
	border: 1px solid #BBBBBB;
}

div .body_input {
	width: 100%;
	resize: none;
	border: 1px solid #BBBBBB;
}

div .publish_date_input {
	width: 100%;
	border: 1px solid #BBBBBB;
}

div#add_post_form {
	width: 600px;
}

h1 {
	color: #2D4159;
	font-family: Arial;
	font-size: 35px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 24px;
	margin: 0px 0px 30px;
	padding: 0px;
}

h2 {
	color: #5B6772;
	font-size: 16px;
	margin: 30px 0px 5px;
}

h2 .optional {
	color: #AAB5C1;
	font: normal normal normal 11px/normal 'Lucida Grande', Verdana;
	font-style: italic;
	margin-left: 2px;
}


div#post {
	clear: both;
	width: 60em;
}

div#post_date {
	border-top: 2px solid #CCCCCC;
	float: left;
	text-align: center;
	width: 2.5em;
	margin-right: 2em;
}

#month, #day {
	font-size: 1.2em;
	line-height: 1.25;
	text-decoration: none;
	font-variant: small-caps;
	text-transform: lowercase;
	color: #C00906;
}

#month {
	font-size: 1.5em;
	line-height: 1.15385;
}

div#post_content {
	float: left;
	width: 40em;
}

div#post_content h1 {
	font-size: 30px;
	letter-spacing: 0;
	line-height: 1;
	margin: 0;
	padding: 0;
}

div#post_content p {
	display: block;
}
