
<div id="post">		
	<div id="post_date"><span id="month">Nov</span> <span id="day">30</span></div>
	<div id="post_content">
	    
		    <h1><%= post.title %></h1>
	    
	    <p>
		    <%= post.body %>
	    </p>
	</div>
</div>